body {
    font-family: sans-serif;
    background-color: #93e2ef;
}

h1,h2,h3 {
    font-family: 'Bad Script', cursive;
    text-align: center;
}

header {
    color: white;
    text-shadow: 2px 2px 4px #335;
}

h1 {
    margin: 1em 0 0 0;
    font-size: 2.8em;
}
h2 {
    font-size: 1.4em;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin: 1em;
}

article, .card {
    flex: 1;
    min-width: 300px;
    max-width: 500px;

    color: black;
    background-color: rgba(255,255,255,0.5);

    border-radius: 1em;
    border: 1px outset white;

    margin: 1em;
    padding: 1em;
    text-align: center;
    transition: 300ms;
}

a.card {
    text-decoration: none;
}

article:hover, .card:hover, a.card:active {
    margin: 0em;
    padding: 2em;
    background-color: rgba(255,255,255,0.7);
}

.fullscreen {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}

.portrait {
    width: 100px;
    height: 100px;
}